<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syn.iorder"
    android:versionCode="36"
    android:versionName="1.6.30" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.syn.iorder.TakeOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" ><intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.syn.iorder.AppConfigLayoutActivity"
            android:label="@string/activity_setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.MenuSetActivity"
            android:label="@string/activity_menu_set"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.syn.iorder.MoveMenuActivity"
            android:label="@string/activity_move_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.MoveMergeTable"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.CancelMenuActivity"
            android:label="@string/activity_cancel_menu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.CheckBillActivity"
            android:label="@string/activity_checkbill"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.SearchMemberActivity"
            android:label="@string/activity_member_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.syn.iorder.SetMemberFromMain"
            android:label="@string/activity_member_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.syn.iorder.QueueActivity"
            android:label="@string/activity_queue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name="com.syn.iorder.LogActivity" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.syn.iorder.KdsInfoActivity"
            android:label="@string/activity_kds"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.syn.iorder.ReprintMenuActivity"
            android:label="@string/reprint_quick_order"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.syn.iorder.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.syn.iorder.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.syn.iorder.CommentTransactionActivity"
            android:label="@string/title_activity_comment_transaction" android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>